* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}
header {
  background-color: #203040;
  display: flex;
  align-items: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.center{
    justify-content: center;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  color: orangered;
}
footer {
  background-color: #203040;
  color: white;
}
